// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body, #app {
    height: 100%;
}

// Toast styling override
.toasted-container.bottom-right {
    bottom: 2% !important;
    right: 2% !important;
}

.toasted.bubble {
    background-color: #fff !important;
    color: #000 !important;
}